body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border:groove 5px #0000FF;
    width:25%;
    height:50px;
    padding:5px;
    margin:5px;

}
#two {
    border:groove 5px #008000;
    width:25%;
    height:50px;
    padding:5px;
    margin:5px;

}
#three {
    border:groove 5px #FFFF00;
    width:25%;
    height:50px;
    padding:5px;
    margin:5px;
}
#four {
    border:groove 5px #FFA500;
    width:25%;
    height:50px;
    padding:5px;
    margin:5px;
}
title{
  background:#0000FF;
  text-align:center;
}
