body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border:groove 1px #0000FF;
}
#two {
    border:groove 1px #008000;
}
#three {
    border:groove 1px #FFFF00;
}
#four {
    border:groove 1px #FFA500;
}
title{
  background:#0000FF;
  text-align:center;
}
